@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #1f2937;
  padding: 1em 10em 6em;
  display: flex;
  flex-direction: column;
  gap: 8em;
}

.hero .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.hero .header ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1em;
}

.hero .secondary-text,
.hero .header .links {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero .hero-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.hero .hero-content .media-content {
  display: flex;
  flex-direction: column;
}

.hero .hero-content .image img {
  max-width: 400px;
}

.hero .main-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero .hero-content .media-content .button button.sign-up {
  border: none;
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5em 2em;
  margin-top: 1em;
}

.information {
  margin-top: 3em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.information .header {
  font-size: 36px;
  font-weight: 1000;
  color: #1f2937;
}

.information .content {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.information .content .item {
  max-width: 150px;
}

.information .content .item .image img {
  border: #3882f6 solid 4px;
  border-radius: 1em;
  width: 150px;
  height: 150px;
}

.information .content .item .item-content {
  text-align: center;
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quote .content {
  color: #1f2937;
  margin-top: 8em;
  margin-bottom: 6em;
  max-width: 780px;
  display: flex;
  flex-direction: column;
}

.quote .text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote .author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bold;
  margin-right: 1em;
}

.call-to-action {
  color: #f9faf8;
  border-radius: 8px;
  background-color: #3882f6;
  width: 1000px;
  padding: 3em 8em;
  margin: 8em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-to-action .content .header {
  font-size: 24px;
  font-weight: bold;
}

.call-to-action .content .text {
  font-size: 18px;
}

.call-to-action .button button.sign-up {
  border: 3px solid #f9faf8;
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  padding: 0.4em 2em;
}
